b {
  font-family: 'Noto Sans KR', sans-serif;

}

.height {
  min-height: 100vh;
}

.text-underline {
  width: 200px;
  height: 10px;
  margin: 0 auto;
  /* background: blue!important; */
}

.height-80 {
  min-height: 100vh;
}

.about-picture {
  background: url(../img/about.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#filer,
#progress {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/about.jpg)center/cover no-repeat fixed;
}

/* < 505px : comportement Bootstrap normal */
@media (max-width: 504px) {
  /* rien à faire */
}
  
/* ≥ 505px : menu horizontal à côté du brand */
@media (min-width: 505px) {

  /* cacher le hamburger */
  .navbar-toggler {
    display: none;
  }

  /* forcer le menu à se comporter comme un élément inline-flex */
  .navbar-collapse {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    width: auto !important;
    flex-grow: 0 !important;
    /* empêche d'occuper toute la largeur */
    flex-basis: auto !important;
    /* empêche de passer à la ligne */
  }

  /* items du menu en ligne */
  .navbar-nav {
    flex-direction: row !important;
  }

  /* espacement horizontal entre les liens */
  .nav-item {
    margin-left: 1rem;
  }
}
