MISTRAL_API_KEY=YOUR_MISTRAL_API_KEY
# Au besoin, génères en une sur https://console.mistral.ai/codestral/cli?workspace_dialog=apiKeys

MY_GSM_NUMBER = '+33...' # Votre numéro sans le 0 - Tout se touche
OTHER_GSM_NUMBER = '+...' # Un numéro sans le 0 - Tout se touche

